@font-face {
    font-family: Squarified ;
    src: url(Squarified.ttf);
    font-family: PressStart2P ;
    src: url(PressStart2P.ttf);
}
/*Caratteristiche font pagina*/
* {
    font-family: "PressStart2P";
    background-color: #eeeeee;
    font-size: 1.3rem;    
}

body {
  padding-left: 4%;
  padding-right: 4%;
}

/*Main + logo + font*/
#main {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  
}

#logo{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20%;
  text-align: center; 
}


#logofont{
  margin-top: 20%;
  flex-basis: 50%;
  text-align: center; 
 
}

/*Card*/


#image-box {
  padding-top: 5%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#image-box img {
 margin: 2%;
 height: 20%;
 width: 20%;
}

#in p {
  margin-top: 15%;
  font-size: 2.2rem;
  text-align: left;
  
}

#bio{
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-work {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2%;
}

footer {
  padding: 10%;
  
}

footer p {
  font-size: 0.8rem;
}


@media screen and (max-width: 768px) {
  body {
    padding-left: 1%;
    padding-right: 1%;
  }

  #logo img {
    width: 60%; 
  }
  #logofont{
    margin-top: 10%;
    flex-basis: 50%;
    text-align: center;
  }
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  #in p {
    font-size: 1.5rem;
  }
  #image-box {
    padding-top: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #image-box img {
    margin: 2%;
    width: 55%;
   }
  #list-work {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
footer p {
  font-size: 0.5rem;
}
}


